*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build/
docs/site/
docs/preview/
docs/src/tutorials/
docs/src/case_studies/
docs/src/deep_dives/
tmp.gif
gks.*
Manifest.toml
.vscode/
LocalPreferences.toml
.DS_Store
_*
*.db
*.db.wal
dev/
.claude/
